DATABASE_URL_PROD= mongodb://mongodb:27017/ytgif
DATABASE_URL_DEV= mongodb://localhost:27017/ytgif
DATABASE_URL_TEST= mongodb://localhost:27017/ytgif-test
RABBITMQ_PROD=amqp://rabbitmq
RABBITMQ_DEV=amqp://localhost
PORT=5001
